<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <%- style -%>
    </head>
    <!-- Layout acts as wrapper -->
    <body>
        <%- include('_header'); -%>

        <main>
            <%- body -%> <!-- Variable part-->
        </main>

        
        <%- include('_footer'); -%>
        
        <%- script -%>
    </body>
</html>