<link rel="stylesheet" href="/css/user_profile.css">
<h1>Socode / <%= title%></h1> 

<% if(locals.user.id == profile_user.id) { %>
    <!-- If User matches then show the form otherwise show data -->
    <h3>Update Your Data</h3>
    <form action="/users/update/<%= profile_user.id %>" method="POST">
        <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required>
        <input type="email" name="email" placeholder="Your Email" value="<%= profile_user.email %>" required>
        <input type="submit" value="Update Info">
    </form>
<% } else { %>
    <p><%= profile_user.name %></p>
    <p><%= profile_user.email %></p>
<% } %>